 .fondo{
    height: 100vh;
    background-image: url('/imgdef/tienda_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;

  }

  .fondo2{
    height: 100vh;
    background-image: url('/imgdef/imgfondoquiensoy2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 245, 245);
    background-blend-mode: soft-light;

  }