/*================================ MENU============================= */

#menu {
    
    & a{
        font-size: 18px;
        font-weight: bold;
        color: #3f3f3f;

         
    }

    & :hover{
        color: rgb(74, 41, 165);
        
    }
}